.serviceSection{
    width: 100%;
    height: auto;
    padding: 150px 0;
}
.Service{
    width: 300px;
    height: 200px;
    background-color: gray;
}
.service-con {
    width: 100%;
}
.rounded-full{
    width: 60px;
    height: 60px;
    background-color: aqua;
    text-align: center;
    
}